# Exclude compiled files
build
coverage
/es
/lib
/test/regressions/screenshots/output
/test/selenium-output
.eslintcache
tmp

# OS files
.DS_STORE

# Screenshors generated for Argos-CI
test/screenshots/

# npm files
node_modules
package-lock.json
*.log

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor files
.idea
.vscode

.nyc_output
